<html>
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
        <title>RAILS</title>
        <link href="/rails.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    </head>
    <body>  
        <div class="rails-form-popup" id="railsForm">
            <form id="rails-form-id" class="rails-form-container-<%=theme%>" action="\" method="POST">
                <input type="text" id="rails-hashtag-id" placeholder="hashtag" required/>
                <select name="result-type" id="result-type" class="select">
                    <option value="recent" selected>Recent</option>
                    <option value="popular">Popular</option>
                </select>
                <button id="rails-button-id" class="btn">Search</button>
                <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
            </form>
        </div>
        <div class="rails-tweet-holder" id="tweet-holder">
            <div class="rails-tweet rails-bg-<%=theme%>" id="tweet-bg">
                <h4 class="rails-text-<%=theme%>" align='center'><%= searchParams.result_type.charAt(0).toUpperCase() + searchParams.result_type.slice(1) %> Tweets about <%= searchParams.q %></h4>

                <button class="rails-open-button-<%=theme%>" id="rails-search-button" onclick="openForm()">Search #</button>

                <button class="rails-theme-toggle-<%=theme%>" id="rails-theme-toggle">
                    <span class="rails-tooltip">
                        <i class="fa fa-lightbulb-o" style="font-size:36px;color:rgb(117, 33, 33)"></i>
                        <span class="rails-tooltiptext-<%=theme%>" id="theme-status">
                            <% if(theme == 'light') { %>Dark<% } else { %>Light<% } %> Theme
                        </span>
                    </span>
                </button>

                <div align='center'>
                    <% embeddedTweets.forEach(function(tweet) { %>
                        <div><%- tweet %></div> <!-- Use "-" instead of "=" for unescaped raw (HTML) output -->
                    <% }); %>
                </div> 

                <div class="rails-text-<%=theme%>" id="copyright-footer">&copy; <%- new Date().getFullYear() %> RAILS</div>
            </div>
        </div>
        <script>
            function openForm() {
                document.getElementById("railsForm").style.display = "block";
                document.getElementById("rails-search-button").style.display = "none";
            }

            function closeForm() {
                document.getElementById("railsForm").style.display = "none";
                document.getElementById("rails-search-button").style.display = "block";
            }

            function getRedirectUrl(hashtag, resultType, theme = 'none') {
                var hostname = window.location.hostname;
                var port = window.location.port;
                var pathname = `/${hashtag}-${resultType}`;
                if(theme != 'none') {
                    pathname = `${pathname}-${theme}`;
                }
                if(port.length > 0) {
                    return `http://${hostname}:${port}${pathname}`;
                }
                return `http://${hostname}${pathname}`; 
            }

            $('#rails-button-id').click(function(e){
                var hashtag = $('#rails-hashtag-id').val();
                if(hashtag.trim().length==0) {
                    alert('Your search query is empty. We will search #Cerner for you...');
                    hashtag = "Cerner";
                }
                var resultType = $('#result-type').val();
                
                window.location.href = getRedirectUrl(hashtag, resultType);

                return false;
            });

            $("#rails-theme-toggle").click(function(e){
                var hashtag = 'Cerner';
                var resultType = 'recent';
                var theme = 'light';

                var pathname = window.location.pathname;
                var urlParams = pathname.replace('/', '');

                if(urlParams.length > 0) {
                    var splitUrlParams = urlParams.split("-");

                    hashtag = splitUrlParams[0];

                    if(splitUrlParams.length > 1) {
                        resultType = splitUrlParams[1];
                    }
                }
                
                if($("#theme-status").hasClass("rails-tooltiptext-light")) {
                    theme = 'dark';
                }

                window.location.href = getRedirectUrl(hashtag, resultType, theme);

                return false;
            });
        </script>
    </body>   
</html>
