<html>
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
        <title>RAILS</title>
        <link href="/css/twitter.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    </head>
    <body>  
        <div class="rails-form-popup" id="railsForm">
            <form id="rails-form-id" class="rails-form-container-<%=theme%>" action="\" method="POST">
                <input type="text" id="rails-hashtag-id" placeholder="hashtag" required/>
                <select name="result-type" id="result-type" class="select">
                    <option value="recent" selected>Recent</option>
                    <option value="popular">Popular</option>
                </select>
                <button id="rails-button-id" class="btn">Search</button>
                <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
            </form>
        </div>
        <div class="rails-tweet-holder" id="tweet-holder">
            <div class="rails-tweet rails-bg-<%=theme%>" id="tweet-bg">
                <h4 class="rails-text-<%=theme%>" align='center'><%= searchParams.result_type.charAt(0).toUpperCase() + searchParams.result_type.slice(1) %> Tweets about <%= searchParams.q %></h4>

                <button class="rails-open-button-<%=theme%>" id="rails-search-button" onclick="openForm()">Search #</button>

                <button class="rails-dark-button-<%=theme%>" id="rails-enable-dark-button">
                    <span class="rails-tooltip">
                        <i class="fa fa-lightbulb-o" style="font-size:36px;color:rgb(117, 33, 33)"></i>
                        <span class="rails-tooltiptext-<%=theme%>" id="theme-status">Enter Dark Mode</span>
                    </span>
                </button>

                <div align='center'>
                    <% embeddedTweets.forEach(function(tweet) { %>
                        <div><%- tweet %></div> <!-- Use "-" instead of "=" for unescaped raw (HTML) output -->
                    <% }); %>
                </div> 

                <div class="rails-text-<%=theme%>" id="copyright-footer">&copy; <%- new Date().getFullYear() %> RAILS</div>
            </div>
        </div>
        <script>
            $('#rails-button-id').click(function(e){
                e.preventDefault();
                var hashtag = $('#rails-hashtag-id').val();
                if(hashtag.trim().length==0) {
                    alert('Your search query is empty. We will search #Cerner for you...');
                    hashtag = "Cerner";
                }

                var resultType = $('#result-type').val();
                var redirectUrl = getRedirectUrl(hashtag, resultType);
                
                window.location.href = redirectUrl;
                return false;
            });

            function getRedirectUrl(hashtag, resultType) {
                var getUrl = window.location;
                var lastPosOfSlash = getUrl.toString().lastIndexOf("/");
                var urlLength = getUrl.toString().length;
                var redirectUrl;
                
                var parameters = getUrl.toString().substring(lastPosOfSlash + 1, urlLength);
                var params;
                var theme = 'none';

                if(parameters.length != 0) {
                    params = parameters.split("-");
                    if(params.length == 3) {
                        if(params[2].length != 0) {
                            theme = params[2];
                        } 
                    } 
                } 

                if(theme == 'none') {
                    if($("#theme-status").hasClass("rails-tooltiptext-light")) {
                        theme = "dark";
                        $("#theme-status").addClass("rails-tooltiptext-dark");
                        $("#theme-status").html("Enter Lite Mode");
                    } else {
                        theme = "light";
                        $("#theme-status").addClass("rails-tooltiptext-light");
                        $("#theme-status").html("Enter Dark Mode");
                    }
                }

                if(lastPosOfSlash == urlLength-1) {
                    redirectUrl = getUrl.toString() + hashtag + "-" + resultType + "-" + theme;
                } else {
                    redirectUrl = getUrl.toString().replace(getUrl.toString().substring(lastPosOfSlash + 1, urlLength), hashtag + "-" + resultType + "-" + theme);
                }
                return redirectUrl;
            }

            function getTheme(hashtag, resultType) {
                var getUrl = window.location;
                var lastPosOfSlash = getUrl.toString().lastIndexOf("/");
                var urlLength = getUrl.toString().length;
                var redirectUrl;
                
                var parameters = getUrl.toString().substring(lastPosOfSlash + 1, urlLength);
                var params;
                var theme = 'none';

                if(parameters.length != 0) {
                    params = parameters.split("-");
                    if(params.length == 3) {
                        if(params[2].length != 0) {
                            theme = params[2];
                        } 
                    } 
                } 

                if(theme == 'none' || theme != 'light' || theme != 'dark' ) {
                    theme = 'light';
                }
                return theme;
            }

            function openForm() {
                document.getElementById("railsForm").style.display = "block";
                document.getElementById("rails-search-button").style.display = "none";
            }

            function closeForm() {
                document.getElementById("railsForm").style.display = "none";
                document.getElementById("rails-search-button").style.display = "block";
            }

            $("#rails-enable-dark-button").click(function(e){
                var getUrl = window.location;
                var lastPosOfSlash = getUrl.toString().lastIndexOf("/");
                var urlLength = getUrl.toString().length;
                var redirectUrl;
                
                var parameters = getUrl.toString().substring(lastPosOfSlash + 1, urlLength);
                var params;
                var hashtag;
                var resultType;
                var theme = 'none';

                if(parameters.length != 0) {
                    params = parameters.split("-");
                    if(params.length == 3) {
                        if(params[2].length != 0) {
                            theme = params[2];
                        }
                        if(params[1].length != 0) {
                            resultType = params[1];
                        } 
                        if(params[0].length != 0) {
                            hashtag = params[0];
                        } 
                    } 
                } else {
                    hashtag = "Cerner";
                    resultType = "recent";
                }
                
                if($("#theme-status").hasClass("rails-tooltiptext-light")) {
                    theme = "dark";
                    $("#theme-status").addClass("rails-tooltiptext-dark");
                    $("#theme-status").html("Enter Lite Mode");
                } else {
                    theme = "light";
                    $("#theme-status").addClass("rails-tooltiptext-light");
                    $("#theme-status").html("Enter Dark Mode");
                }
                
                if(lastPosOfSlash == urlLength-1) {
                    redirectUrl = getUrl.toString() + hashtag + "-" + resultType + "-" + theme;
                } else {
                    redirectUrl = getUrl.toString().replace(getUrl.toString().substring(lastPosOfSlash + 1, urlLength), hashtag + "-" + resultType + "-" + theme);
                }

                var newRedirectUrl = redirectUrl.replace(redirectUrl.substring(redirectUrl.lastIndexOf("-") + 1, redirectUrl.length), theme);
                //alert(document.cookie);
                window.location.href = newRedirectUrl;

            });
        </script>
    </body>   
</html>
